* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #111;
  color: #fff;
}

#home-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#navbar {
  height: 80px;
  width: 100%;
  background-color: #C2C2C2;
  border-bottom: 5px solid #FFD700;
}


#home-page-main {
  display: flex;
  height: 100%;
  width: 100%;
}

#home-page-main svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  width: 50%;
}

#play {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play h1 {
  margin: 15px;
}

#play-link {
  font-size: 20px;
  background-color: rgb(255, 85, 85);
  margin: 15px;
  padding: 10px 25px;
  border: 3px solid #fff;
  border-radius: 20px;
}

#play-link:hover {
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}


#game-container {
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
}

.grid {
  height: 100px;
  background-color: #ccc;
  font-size: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.grid:hover {
  background-color: #888;
}

#game-grid {
  display: grid;
  margin: auto;
  width: 340px;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
  background-color: black;
  border: 10px solid #000;
}

h1 {
  text-align: center;
}

#game-container h1 {
  margin: 100px 20px 20px;
}

@media (max-width: 700px) {
  #home-page-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #home-page-main svg {
    width: 80%;
    margin: 50px auto;
  }

  #play {
    width: 100%;
  }
}